/*break points*/
/*spacing*/
/*transition*/
/*colors*/
#jukebox-app #pf-microsite {
  font-family: "Beatrice", Helvetica, Arial, sans-serif;
  color: #4A5567 !important;
  font-size: 16px !important;
  font-weight: normal !important;
  line-height: 1.56 !important;
  margin: 0;
  margin-top: 0 !important;
  scroll-behavior: smooth;
  /*modules*/
}
@media (min-width: 1024px) {
  #jukebox-app #pf-microsite {
    font-size: 18px !important;
  }
}
#jukebox-app #pf-microsite strong {
  font-weight: 700;
}
#jukebox-app #pf-microsite .has-color-white {
  color: #ffffff;
}
#jukebox-app #pf-microsite .has-bg-white {
  background-color: #ffffff;
}
#jukebox-app #pf-microsite .has-color-black {
  color: #000000;
}
#jukebox-app #pf-microsite .has-bg-black {
  background-color: #000000;
}
#jukebox-app #pf-microsite .has-color-gray {
  color: #c0c0c0;
}
#jukebox-app #pf-microsite .has-bg-gray {
  background-color: #c0c0c0;
}
#jukebox-app #pf-microsite .has-color-lightgray {
  color: #f5f8fa;
}
#jukebox-app #pf-microsite .has-bg-lightgray {
  background-color: #f5f8fa;
}
#jukebox-app #pf-microsite .has-color-slate {
  color: #4A5567;
}
#jukebox-app #pf-microsite .has-bg-slate {
  background-color: #4A5567;
}
#jukebox-app #pf-microsite .has-color-orange {
  color: #FA4B28;
}
#jukebox-app #pf-microsite .has-bg-orange {
  background-color: #FA4B28;
}
#jukebox-app #pf-microsite .text-center {
  text-align: center;
}
#jukebox-app #pf-microsite .text-large {
  font-size: 18px;
}
@media (min-width: 1024px) {
  #jukebox-app #pf-microsite .text-large {
    font-size: 24px;
  }
}
#jukebox-app #pf-microsite .screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}
#jukebox-app #pf-microsite [class*=__inner] {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}
@media (min-width: 768px) {
  #jukebox-app #pf-microsite [class*=__inner] {
    padding: 0 32px;
  }
}
#jukebox-app #pf-microsite h1,
#jukebox-app #pf-microsite .h1 {
  font-size: 48px;
  line-height: 1.1;
  letter-spacing: 0.063rem;
  margin-bottom: 24px;
}
@media (min-width: 768px) {
  #jukebox-app #pf-microsite h1,
#jukebox-app #pf-microsite .h1 {
    font-size: 64px;
  }
}
@media (min-width: 1024px) {
  #jukebox-app #pf-microsite h1,
#jukebox-app #pf-microsite .h1 {
    font-size: 80px;
  }
}
#jukebox-app #pf-microsite h2,
#jukebox-app #pf-microsite .h2,
#jukebox-app #pf-microsite .pf-microsite-block-name {
  font-size: 32px;
  margin-bottom: 24px;
  line-height: 1.15;
  color: #000000;
  letter-spacing: -2.18px;
}
@media (min-width: 768px) {
  #jukebox-app #pf-microsite h2,
#jukebox-app #pf-microsite .h2,
#jukebox-app #pf-microsite .pf-microsite-block-name {
    font-size: 48px;
  }
}
@media (min-width: 1024px) {
  #jukebox-app #pf-microsite h2,
#jukebox-app #pf-microsite .h2,
#jukebox-app #pf-microsite .pf-microsite-block-name {
    font-size: 70px;
  }
}
#jukebox-app #pf-microsite h3,
#jukebox-app #pf-microsite .h3 {
  font-size: 26px;
  margin-bottom: 24px;
  margin-top: 0;
  line-height: 1.15;
  font-weight: 500;
}
@media (min-width: 768px) {
  #jukebox-app #pf-microsite h3,
#jukebox-app #pf-microsite .h3 {
    font-size: 32px;
  }
}
@media (min-width: 1024px) {
  #jukebox-app #pf-microsite h3,
#jukebox-app #pf-microsite .h3 {
    font-size: 46px;
  }
}
#jukebox-app #pf-microsite h4,
#jukebox-app #pf-microsite .h4 {
  font-size: 30px;
  margin-bottom: 24px;
  line-height: 1.15;
}
#jukebox-app #pf-microsite h5,
#jukebox-app #pf-microsite .h5 {
  font-size: 20px;
  margin-bottom: 24px;
  line-height: 1.15;
}
#jukebox-app #pf-microsite p {
  line-height: 1.75;
  margin-bottom: 24px;
  color: #4A5567;
}
#jukebox-app #pf-microsite a {
  text-decoration: none;
}
#jukebox-app #pf-microsite a:hover {
  text-decoration: underline;
}
#jukebox-app #pf-microsite .btn {
  display: inline-flex;
  appearance: none;
  align-items: center;
  justify-content: center;
  position: relative;
  font-weight: 700;
  border-radius: 9999px;
  transition: 200ms cubic-bezier(0.4, 0, 1, 1);
  line-height: 1.2;
  width: auto;
  outline-offset: 2px;
  white-space: nowrap;
  padding: 16px 36px;
  font-size: 14px;
  color: #ffffff;
  background: #FA4B28;
  text-decoration: none;
}
@media (min-width: 480px) {
  #jukebox-app #pf-microsite .btn {
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  #jukebox-app #pf-microsite .btn {
    font-size: 18px;
  }
}
#jukebox-app #pf-microsite .btn:hover, #jukebox-app #pf-microsite .btn:active, #jukebox-app #pf-microsite .btn:focus {
  background: #D53B13;
  border-color: #D53B13;
  text-decoration: none;
}
#jukebox-app #pf-microsite .btn:active, #jukebox-app #pf-microsite .btn:focus {
  box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.6);
}
#jukebox-app #pf-microsite .btn.ghost {
  background: transparent;
  border: 2px solid #c0c0c0;
  color: #000000;
}
#jukebox-app #pf-microsite .btn.ghost:hover, #jukebox-app #pf-microsite .btn.ghost:active, #jukebox-app #pf-microsite .btn.ghost:focus {
  background: #404040;
  border-color: #404040;
  text-decoration: none;
  color: #ffffff;
}
#jukebox-app #pf-microsite .btn.ghost:active, #jukebox-app #pf-microsite .btn.ghost:focus {
  box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.6);
  background: #c0c0c0;
  border-color: #c0c0c0;
}
#jukebox-app #pf-microsite .btn.white {
  background: #ffffff;
  color: #000000;
}
#jukebox-app #pf-microsite .btn.white:hover, #jukebox-app #pf-microsite .btn.white:active, #jukebox-app #pf-microsite .btn.white:focus {
  color: #FA4B28;
}
#jukebox-app #pf-microsite .btn.white:active, #jukebox-app #pf-microsite .btn.white:focus {
  box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.6);
  color: #FA4B28;
}
#jukebox-app #pf-microsite .pf-microsite-block-name {
  max-width: 1000px;
  margin: 0 auto 60px;
}
@media (min-width: 1024px) {
  #jukebox-app #pf-microsite .pf-microsite-block-name {
    margin: 0 auto 100px;
  }
}
#jukebox-app #pf-microsite .jump-links {
  padding: 10px 0 10px;
  margin-top: -10px;
  background-color: transparent;
  transition: 200ms cubic-bezier(0.4, 0, 1, 1);
}
#jukebox-app #pf-microsite .jump-links.affix {
  position: fixed;
  top: 0;
  margin-top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 99;
  background-color: #ffffff;
}
@media (min-width: 480px) {
  #jukebox-app #pf-microsite .jump-links {
    padding: 10px 0px;
  }
}
@media (min-width: 768px) {
  #jukebox-app #pf-microsite .jump-links {
    margin-top: -64px;
    padding: 17px 0;
  }
}
#jukebox-app #pf-microsite .jump-links__inner {
  display: flex;
  align-items: center;
  justify-content: center;
}
#jukebox-app #pf-microsite .jump-links__inner li a {
  color: #4A5567;
  padding: 15px 7px;
  font-size: 12px;
  font-weight: 700;
  white-space: nowrap;
  transition: 200ms cubic-bezier(0.4, 0, 1, 1);
  text-decoration: none;
}
#jukebox-app #pf-microsite .jump-links__inner li a:hover, #jukebox-app #pf-microsite .jump-links__inner li a:focus, #jukebox-app #pf-microsite .jump-links__inner li a:active, #jukebox-app #pf-microsite .jump-links__inner li a.active {
  color: #FA4B28;
}
@media (min-width: 480px) {
  #jukebox-app #pf-microsite .jump-links__inner li a {
    padding: 20px 10px;
    font-size: 13px;
  }
}
@media (min-width: 1024px) {
  #jukebox-app #pf-microsite .jump-links__inner li a {
    padding: 20px;
    font-size: 14px;
  }
}
#jukebox-app #pf-microsite .hero {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
#jukebox-app #pf-microsite .hero.hero--assessment {
  background-image: url("./assets/Awareness_Hero.jpg");
}
#jukebox-app #pf-microsite .hero.hero--powerof3 {
  background-image: url("./assets/Education_Hero.jpg");
}
#jukebox-app #pf-microsite .hero.hero--powerof3 .hero__content {
  max-width: 700px;
}
#jukebox-app #pf-microsite .hero.hero--why-cornerstone {
  background-image: url("./assets/Evaluation_Hero.jpg");
}
#jukebox-app #pf-microsite .hero::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.35);
}
@media (min-width: 768px) {
  #jukebox-app #pf-microsite .hero {
    height: 500px;
    background-position: left top;
  }
}
@media (min-width: 1024px) {
  #jukebox-app #pf-microsite .hero {
    height: 720px;
    background-position: center top;
    justify-content: center;
  }
  #jukebox-app #pf-microsite .hero::before {
    display: none;
  }
}
@media (min-width: 1500px) {
  #jukebox-app #pf-microsite .hero {
    height: 900px;
  }
}
#jukebox-app #pf-microsite .hero__flex-wrap {
  width: 100%;
  position: relative;
  z-index: 2;
}
#jukebox-app #pf-microsite .hero__inner {
  padding: 120px 20px 40px;
}
@media (min-width: 1024px) {
  #jukebox-app #pf-microsite .hero__inner {
    padding: 32px;
  }
}
@media (min-width: 768px) {
  #jukebox-app #pf-microsite .hero__content {
    max-width: 660px;
  }
}
@media (min-width: 1024px) {
  #jukebox-app #pf-microsite .hero__content {
    max-width: 780px;
  }
}
#jukebox-app #pf-microsite .hero__content .h1,
#jukebox-app #pf-microsite .hero__content h1 {
  margin-bottom: 0;
}
#jukebox-app #pf-microsite .pf-track-intro {
  padding: 50px 0 0;
}
@media (min-width: 768px) {
  #jukebox-app #pf-microsite .pf-track-intro {
    padding: 80px 0 0;
  }
}
#jukebox-app #pf-microsite .pf-track-intro__content {
  max-width: 730px;
  margin-bottom: 0;
  font-size: 20px;
}
#jukebox-app #pf-microsite .pf-track-intro a.btn {
  margin-top: 48px;
}
#jukebox-app #pf-microsite .pf-track-block {
  padding: 50px 0;
}
@media (min-width: 768px) {
  #jukebox-app #pf-microsite .pf-track-block {
    padding: 80px 0;
  }
}
#jukebox-app #pf-microsite .pf-track-block__title {
  max-width: 1048px;
  margin: 0 auto;
  text-align: left;
}
@media (min-width: 768px) {
  #jukebox-app #pf-microsite .pf-track-block__title {
    text-align: center;
  }
}
#jukebox-app #pf-microsite .pf-track-block .pf-carousel {
  text-align: center;
}
@media (min-width: 480px) {
  #jukebox-app #pf-microsite .pf-track-block .pf-carousel {
    display: flex;
    justify-content: center;
    margin-left: -10px;
    margin-right: -10px;
  }
}
#jukebox-app #pf-microsite .pf-track-block .pf-carousel-item {
  width: 100%;
  display: inline-block;
  margin: 0 auto 20px;
  text-align: left;
  position: relative;
  max-width: 280px;
}
@media (min-width: 480px) {
  #jukebox-app #pf-microsite .pf-track-block .pf-carousel-item {
    margin: 0 10px 48px;
    max-width: 360px;
  }
}
@media (min-width: 768px) {
  #jukebox-app #pf-microsite .pf-track-block .pf-carousel-item {
    margin: 0 10px;
    max-width: 100%;
  }
}
#jukebox-app #pf-microsite [data-qa-hook=content-type-asset] {
  background: #d3d3d3;
  border-radius: 20px;
  color: #4A5567;
  display: none;
  font-size: 10px;
  font-weight: 700;
  line-height: 0.9;
  margin-bottom: 10px;
  padding: 8px 10px;
  text-transform: uppercase;
  text-align: left;
  position: absolute;
  top: 10px;
  left: -10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.35);
}
#jukebox-app #pf-microsite .pf-microsite-card {
  text-align: left;
  border: 0;
  border-radius: 0 !important;
  overflow: hidden;
}
#jukebox-app #pf-microsite .pf-microsite-card-link > div {
  overflow: hidden;
}
#jukebox-app #pf-microsite .pf-microsite-card:hover {
  box-shadow: none;
}
#jukebox-app #pf-microsite .pf-microsite-card:hover img {
  transform: scale(1.1);
}
#jukebox-app #pf-microsite .pf-microsite-card img {
  width: 100%;
  display: block;
  border-radius: 0 !important;
  transition: 0.3s ease;
  transform: scale(1);
  overflow: hidden;
}
#jukebox-app #pf-microsite .pf-microsite-card .pf-microsite-card-title {
  color: #4A5567;
  text-align: left;
  line-height: 1.75;
  margin-top: 16px;
}
#jukebox-app #pf-microsite .pf-microsite-card .pf-microsite-card-title div:first-child {
  font-weight: 700;
  color: #000000;
  line-height: 1.55;
  margin-bottom: 10px;
}
#jukebox-app #pf-microsite .pf-microsite-card .pf-microsite-card-title div:nth-of-type(2) {
  padding-right: 20px;
  color: #4A5567;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}
#jukebox-app #pf-microsite .pf-microsite-card .pf-microsite-card-title div:nth-of-type(3) {
  color: #FA4B28 !important;
  font-weight: 700;
  margin-top: 16px;
}
#jukebox-app #pf-microsite .pf-microsite-grid {
  max-width: 1340px;
  margin: 0 auto;
  gap: 24px;
}
#jukebox-app #pf-microsite .pf-microsite-card div div {
  padding-bottom: 0;
  height: auto;
  min-width: 100%;
  position: relative;
}
#jukebox-app #pf-microsite .pf-microsite-card-title {
  padding-left: 0;
  padding-right: 0;
}
#jukebox-app #pf-microsite .pf-microsite-card-link:hover {
  text-decoration: none !important;
}
#jukebox-app #pf-microsite .pf-carousel-action {
  text-align: center;
}
@media (min-width: 768px) {
  #jukebox-app #pf-microsite .pf-carousel-action {
    margin-top: 2rem;
  }
}
#jukebox-app #pf-microsite .icon-callouts {
  padding: 50px 0;
}
@media (min-width: 1024px) {
  #jukebox-app #pf-microsite .icon-callouts {
    padding: 50px 0 80px;
  }
}
#jukebox-app #pf-microsite .icon-callouts__title {
  margin-bottom: 32px;
}
@media (min-width: 768px) {
  #jukebox-app #pf-microsite .icon-callouts__title {
    max-width: 700px;
    margin-bottom: 48px;
  }
}
@media (min-width: 1024px) {
  #jukebox-app #pf-microsite .icon-callouts__title {
    margin-bottom: 64px;
  }
}
#jukebox-app #pf-microsite .icon-callouts__items {
  display: grid;
  row-gap: 30px;
  column-gap: 50px;
}
@media (min-width: 480px) {
  #jukebox-app #pf-microsite .icon-callouts__items {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 768px) {
  #jukebox-app #pf-microsite .icon-callouts__items {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 50px;
    column-gap: 20px;
  }
}
#jukebox-app #pf-microsite .icon-callouts__item-icon {
  width: 40px;
  margin-bottom: 10px;
  display: block;
}
#jukebox-app #pf-microsite .icon-callouts__item-title {
  margin-bottom: 10px;
  color: #000000;
}
#jukebox-app #pf-microsite .icon-callouts__item-content {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  #jukebox-app #pf-microsite .icon-callouts__item-content {
    width: 80%;
  }
}
#jukebox-app #pf-microsite .content-left {
  padding: 80px 0;
  position: relative;
  overflow: hidden;
}
@media (min-width: 768px) {
  #jukebox-app #pf-microsite .content-left {
    padding: 80px 0;
  }
}
@media (min-width: 1024px) {
  #jukebox-app #pf-microsite .content-left {
    padding: 120px 0;
  }
}
#jukebox-app #pf-microsite .content-left__background {
  position: absolute;
  opacity: 0.1;
  width: 600px;
  top: -120px;
  right: -220px;
}
@media (min-width: 768px) {
  #jukebox-app #pf-microsite .content-left__background {
    top: -200px;
    right: -200px;
    width: 900px;
  }
}
#jukebox-app #pf-microsite .content-left__title {
  max-width: 260px;
}
@media (min-width: 768px) {
  #jukebox-app #pf-microsite .content-left__title {
    max-width: 600px;
  }
}
#jukebox-app #pf-microsite .content-left__text {
  max-width: 550px;
}
#jukebox-app #pf-microsite .alternating-feature {
  padding: 80px 0;
}
@media (min-width: 768px) {
  #jukebox-app #pf-microsite .alternating-feature {
    padding: 100px 0;
  }
}
@media (min-width: 1024px) {
  #jukebox-app #pf-microsite .alternating-feature {
    padding: 148px 0;
  }
}
#jukebox-app #pf-microsite .alternating-feature__grid {
  row-gap: 24px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
@media (min-width: 768px) {
  #jukebox-app #pf-microsite .alternating-feature__grid {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 50px;
  }
}
@media (min-width: 1024px) {
  #jukebox-app #pf-microsite .alternating-feature__grid {
    column-gap: 75px;
  }
}
#jukebox-app #pf-microsite .alternating-feature__image img {
  width: 100%;
}
#jukebox-app #pf-microsite .alternating-feature__content {
  margin-top: -5px;
}
#jukebox-app #pf-microsite .alternating-feature__text {
  max-width: 530px;
  font-size: 18px;
  line-height: 1.35;
  margin-bottom: 45px;
}
@media (min-width: 1024px) {
  #jukebox-app #pf-microsite .alternating-feature__text {
    font-size: 24px;
  }
}
#jukebox-app #pf-microsite .site-footer {
  padding: 20px 0;
}
#jukebox-app #pf-microsite .site-footer__nav {
  font-size: 14px;
  color: #4A5567;
}
#jukebox-app #pf-microsite .site-footer__nav a {
  color: #4A5567;
  text-decoration: none;
}
#jukebox-app #pf-microsite .site-footer__nav ul {
  display: inline-flex;
  align-items: center;
  line-height: 1;
  list-style: none;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
#jukebox-app #pf-microsite .site-footer__nav ul li {
  margin-right: 24px;
}
#jukebox-app #pf-microsite .video-embed {
  padding: 80px 0;
  margin-bottom: 60px;
}
@media (min-width: 1024px) {
  #jukebox-app #pf-microsite .video-embed {
    padding: 120px 0;
    margin-bottom: 100px;
  }
}
#jukebox-app #pf-microsite .video-embed__container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}
#jukebox-app #pf-microsite .video-embed iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

/*header*/
#jukebox-app #pf-microsite-header {
  font-family: "Beatrice", Helvetica, Arial, sans-serif;
  height: 68px;
  background: #ffffff;
  align-items: center;
  display: flex;
  justify-content: space-between;
  z-index: 3;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}
@media (min-width: 768px) {
  #jukebox-app #pf-microsite-header {
    padding: 0 32px;
  }
}
#jukebox-app #pf-microsite-header .rc-menu {
  flex-grow: 0;
}
#jukebox-app #pf-microsite-header .rc-menu-item:last-child {
  padding: 0;
}
#jukebox-app #pf-microsite-header .rc-menu-item:last-child .pf-navigation-link {
  display: inline-flex;
  appearance: none;
  align-items: center;
  justify-content: center;
  position: relative;
  font-weight: 700;
  border-radius: 9999px;
  transition: 200ms cubic-bezier(0.4, 0, 1, 1);
  line-height: 1.2;
  width: auto;
  outline-offset: 2px;
  white-space: nowrap;
  padding: 8px 18px;
  font-size: 14px;
  color: #ffffff;
  background: #FA4B28;
  text-decoration: none;
}
@media (min-width: 480px) {
  #jukebox-app #pf-microsite-header .rc-menu-item:last-child .pf-navigation-link {
    font-size: 16px;
    padding: 12px 24px;
  }
}
@media (min-width: 1024px) {
  #jukebox-app #pf-microsite-header .rc-menu-item:last-child .pf-navigation-link {
    font-size: 18px;
    padding: 16px 36px;
  }
}
#jukebox-app #pf-microsite-header .rc-menu-item:last-child .pf-navigation-link:hover, #jukebox-app #pf-microsite-header .rc-menu-item:last-child .pf-navigation-link:active, #jukebox-app #pf-microsite-header .rc-menu-item:last-child .pf-navigation-link:focus {
  background: #D53B13;
  border-color: #D53B13;
  text-decoration: none;
}
#jukebox-app #pf-microsite-header .rc-menu-item:last-child .pf-navigation-link:active, #jukebox-app #pf-microsite-header .rc-menu-item:last-child .pf-navigation-link:focus {
  box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.6);
}
#jukebox-app #pf-microsite-header .microsite-header-link {
  padding-right: 0;
  border-right: 0;
}
#jukebox-app #pf-microsite-header .btn,
#jukebox-app #pf-microsite-header .pf-navigation-link {
  padding: 1rem 1.25rem;
}
@media (min-width: 768px) {
  #jukebox-app #pf-microsite-header .btn,
#jukebox-app #pf-microsite-header .pf-navigation-link {
    padding: 1rem 2.25rem;
  }
}
#jukebox-app #pf-microsite-header .site-logo img,
#jukebox-app #pf-microsite-header .microsite-header-link img {
  height: 20px;
  min-width: 128px;
  width: auto;
}
@media (min-width: 480px) {
  #jukebox-app #pf-microsite-header .site-logo img,
#jukebox-app #pf-microsite-header .microsite-header-link img {
    height: 25px;
    min-width: 161px;
  }
}
#jukebox-app #pf-microsite-header .site-logo {
  display: block;
  line-height: 1;
  text-decoration: none;
}

/*# sourceMappingURL=styles.css.map */
